{% extends 'base.html' %}
{% block content %}
    <header class="masthead bg-index text-dark test-center py-4">
        <div class="container d-flex align-items-center flex-column pt-2">
            <h2>
                About Page
            </h2>
        </div>
    </header>

    <section class="p-3 ms-footer d-none d-md-block">
        <div class="container">
            <div class="row mt-3 test-white">
                <div class="col-md-6 col-lg-6 col-xl-6 mx-auto mb-4">
                    <b>ABOUT</b>
                    <hr />
                    <p>
                        **ADD TEXT**
                    </p>
                </div>
                <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-4">
                    <b>CONTACT</b>
                    <hr />
                    <p><i class="fas fa-home me-2"></i> Atlanta, GA, USA</p>
                    <p><i class="fas fa-envelope me-2"></i> info@moviesstore.com</p>
                    <p><i class="fas fa-phone me-2"></i> +1 404 XXX XXXX</p>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}