{% extends  'base.html' %}
{% block content %}
<div class="p-3 mt-4">
    <div class="container">
        <h1>User Management</h1>
        <button onclick="window.location.href='{% url 'admin_users' %}?type=user'">Users</button>
        <button onclick="window.location.href='{% url 'admin_users' %}?type=admin'">Admin</button>

        <br><br>

        <a href="{% url 'create_user' %}">Create New User</a>

        <table>
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
            {% for user in users %}
                <tr>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>
                        <a href="{% url 'edit_user' user.id %}">Edit</a>
                        <a href="{% url 'delete_user' user.id %}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <br>
        <button onclick="window.location.href='{% url 'admin_home' %}'">return to Admin Dashboard</button>
    </div>
</div>
{% endblock content %}