<!DOCTYPE html>
<html lang="en" data-theme="dark">
{% load static %}

<head>
    <!-- Header -->
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"/>
    <script src="{% static 'pop.js' %}" defer></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        /* Global navbar styling */
        nav {
            padding: 0.1rem 0.5rem;
        }

        .navbar-brand img {
            height: 25px;
        }

        .navbar-nav .nav-link {
            font-size: 14px;
        }

        .navbar-toggler {
            font-size: 14px;
        }
    </style>
</head>

<body>
    <nav class="navbar" id="navbar">
        <div class="container">
            <button class="navbar-toggler" onclick="toggleNavbar()">
                &#9776;
            </button>
            <a class="navbar-brand logo">
                <img src="{% static 'logo.png' %}" alt="logo" class="logo">
            </a>
            <div class="navbar-nav ms-auto">
                {% if user.is_authenticated %}
                <a class="nav-link" href="{% url 'cart.index' %}">
                    <span class="material-symbols-outlined">shopping_cart</span>
                </a>
                <a class="nav-link" href="{% url 'accounts.orders' %}">Orders</a>
                <a class="nav-link" href="{% url 'accounts.logout' %}">Logout ({{ user.username }})</a>
                {% endif %}
            </div>
        </div>
    </nav>
<h1>GT Movie Store</h1>
    {% if movies %}
    <div id="search-style">
        <span class="search-symbol material-symbols-outlined">search</span>
        <input id="search-field" type="text" placeholder="Search for a movie" name="temp">
        <button id="search-button"></button>
    </div>
                {%for genre in genres %}
                <div class="rows">
                <h2 class="genre">{{genre}}</h2>
                <div class="layout">
                {% for movie in movies %}

                    {% if genre in movie.Genre %}

                    <button class="movie_holder open_button"
                            data-url="{% url 'cart.add' id=movie.id %}"
                            data-id="{{ movie.id }}"
                            data-title="{{ movie.Title }}"
                            data-plot="{{ movie.Plot }}"
                            data-director="{{ movie.Director }}"
                            data-genre="{{ movie.Genre }}"
                            data-poster="{{ movie.Poster }}"
                            data-year="{{ movie.Year }}">
                        <img src="{{ movie.Poster }}" alt="Poster for {{ movie.Title }}">
                        <br>
                        <span class="title">{{ movie.Title }}</span>
                        <span class="year">Year: {{ movie.Year }}</span>
                    </button>
                    {% endif %}
                {% endfor %}
                </div>
                </div>
            {% endfor %}
    <dialog class="modal">
        <div class="modal-content">
            <h2 id="modal-title"> TITLE </h2>
            <span id="modal-plot">PLOT</span>
            <button class="button close-button">X</button>

            <img id="modal-image" src="" alt="IMAGE PLACEHOLDER">

            <div class="modal-format">
                <span id="modal-year">YEAR</span>
                <br>
                <span id="modal-director">DIRECTOR</span>
                <br>
                <span id="modal-genre">GENRE</span>
                <br>
                <span id="modal-price">Price: $10</span>
            </div>
<p class="card-text">
  <form method="post" action="" id="add-to-cart-form">
    {% csrf_token %}
    <div class="row">
      <div class="col-auto">
        <div class="input-group col-auto">
          <div class="input-group-text">Quantity</div>
          <input
            type="number"
            min="1"
            max="10"
            class="form-control quantity-input"
            name="quantity"
            value="1"
          >
        </div>
      </div>
      <div class="col-auto">
        <button class="btn bg-dark text-white" type="submit">
          Add to cart
        </button>
      </div>
    </div>
  </form>
</p>
            <div class="make-review">
                <a href="#" id="review-link">Leave a Review</a>
            </div>
        </div>
    </dialog>
    {% else %}
        <p>No Movies Found</p>
    {% endif %}

<!-- JS for the navbar functionality -->
<script>
    function toggleNavbar() {
        var navbar = document.getElementById("navbar")
        navbar.classList.toggle("responsive")
    }
</script>
</body>
<footer>
    <footer class="footer">
        <div class="footer-container">
            <div class="footer-right">
                <span>Copyright - 2025</span>
            </div>
        </div>
    </footer>
</footer>
</html>
