<!DOCTYPE html>
{% load static %}


<html>
<link rel="stylesheet" href="{% static 'style.css' %}">
<body>

<h1>Movie List</h1>

<!-- Ensure movies properly loads-->
{% if movies %}
            <!-- Iterate through movies & Print out Title, Year, Poster -->

            {%for genre in genres %}
                <div class="rows">
                <h2 class="genre">{{genre}}</h2>
                <div class="layout">
                {% for movie in movies %}

                    {% if genre in movie.Genre %}

                    <div class="movie_holder">
                        <img src="{{ movie.Poster }}" alt="Poster for {{ movie.Title }}" style="max-width: 200px;">
                        <br class="title">{{ movie.Title }}
                        <br class="year">Year: {{ movie.Year }}
                    </div>
                    {% endif %}
                {% endfor %}
                </div>
                </div>
            {% endfor %}
{% else %}
<p>No Movies Found</p>
{% endif %}
</body>
</html>
