<!DOCTYPE html>
{% load static %}


<html>
<link rel="stylesheet" href="{% static 'style.css' %}">
<script src="{% static 'myfirst.js' %}"></script>
<body>

<h1>Movie List</h1>

<!-- Ensure movies properly loads-->
{% if movies %}
            <!-- Iterate through movies & Print out Title, Year, Poster -->

            {%for genre in genres %}
                <div class="rows">
                <h2 class="genre">{{genre}}</h2>
                <div class="layout">
                {% for movie in movies %}

                    {% if genre in movie.Genre %}

                    <div class="movie_holder">
                        <img src="{{ movie.Poster }}" alt="Poster for {{ movie.Title }}" style="max-width: 200px;">
                        <br class="title">{{ movie.Title }}
                        <br class="year">Year: {{ movie.Year }}
                    </div>
                    {% endif %}
                {% endfor %}
                </div>
                </div>
            {% endfor %}
                    <button class="open">open button</button>
                    <dialog class="modalContainer">
                        <div class="modal">
                            <h2>modal body</h2>
                            <button class="close">close button</button>
                        </div>
                    </dialog>
{% else %}
<p>No Movies Found</p>
{% endif %}
</body>
</html>